{% extends 'polls/base.html' %}

{% block content%}
{% if user.is_authenticated %}
<div>
    <h1>You already logged in</h1>
</div>
{% else %}
<div>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
        <button type="submit">Login</button>
        </p>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
    {# If you have written a password_reset template, then add here #}
    <p>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
    <a href="{% url 'polls:register' %}">Register</a>
    </p>
<div>
{% endif %}
{% endblock %}
