{% extends "polls/base.html" %}

{% block content %}

{% if messages %}
<div class="message">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% if latest_question_list %}
    <div class="question">
        <h1>QESTIONS LIST</h1>
        {% for question in latest_question_list %}
        <div class="question-item">
            <h2>{{ question.question_text }}</h2>

            <div>
                <div><strong>Published Date:</strong> {{ question.pub_date }}</div>
                <div><strong>End Date:</strong> {{ question.end_date }}</div>
            </div>
            <br />

            <div>
                {% if question.can_vote and user.is_authenticated %}
                <a href="{% url 'polls:detail' question.id %}">Vote</a>
                {% endif %}
                <a href="{% url 'polls:results' question.id %}">Results</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}